.carousel-inner img {
    width: 100%;
    height: 100vh;
}

.carousel-inner{
 height: 1000px;
}

.productoAnim {
    animation-name: productos;
    animation-duration: 3s;
}

@keyframes productos {
    from  {
       transform: translateX(1000px)
    }
    to {
       transform: translateX(0px);
    }
}

.categoriaAnim {
    animation-name: categoria;
    animation-duration: 3s;
}

@keyframes categoria {
    from  {
       transform: translateX(-1000px)
    }
    to {
       transform: translateX(0px);
    }
}

li:hover {
    background-color: #BBB6B6;
    border-left: solid 7px #f0c993;
    }

    /* TRANSICION CATEGORIAS LATERAL */
.liTransicion {
    transition: width 5s height 5s;
    background-image: linear-gradient(to left, #BBB6B6, #ffffff2e 60%);
}

.liTransicion:hover {
    width: 70%;
}

.card {
    margin: 50px;
}